@model ICollection<MusicStore.Models.Album>
@using (Html.BeginForm("Index", "Album"))
{
<div class="search_album">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchText" name="searchText" />
    <button class="btn btn-outline-primary" type="submit">Search</button>
    <div>
        <div>
            <a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Album">Add Album</a>
        </div>
        <div class="mt-2">
            <a type="button" class="btn btn-primary" asp-action="Index" asp-controller="Artist">Artists</a>
        </div>
    </div>

    <div>
        @Html.RadioButton("option", "title", true) <span>Title</span>
        @Html.RadioButton("option", "artist") <span>Artist</span>

    </div>
</div>
}
<div class="container-fluid mt-xl-n1">
    <table class="table table-border table-hover">
        <thead >
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Year of publish
                </th>
                <th>
                    Date of publish
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var album in Model)
            {
            <tr class="table__row">
                <td>@album.Title</td>
                <td>@album.Artist.Name</td>
                <td>@album.Genre.Name</td>
                <td>@album.YearOfPublish</td>
                <td>@album.DateOfPublish.ToString("yyyy-MM-dd")</td>
                <td>@album.Amount</td>
                <td>@album.Price</td>
                <td>
                    <a class="icon-margin" asp-action="Details" asp-route-id="@album.Id">
                        <i class="bi bi-info-square " title="Details"></i>
                    </a>
                    <a class="icon-margin" asp-action="Edit" asp-route-id="@album.Id">
                        <i class="bi bi-pencil-square" title="Edit album"></i>
                    </a>
                    <a class="icon-margin" asp-action="Delete" asp-route-id="@album.Id">
                        <i class="bi bi-trash" title="Delete album"></i>
                    </a>

                </td>

            </tr>
       
            }
        </tbody>
    </table>
</div>